body{
    background-image: url('../images/wood-nature-sunny-forest.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img{
    width: 100%;
    height: auto;
}