.site-header{
	border-top: 2px solid black;
	height: auto;
	background: linear-gradient(to top, rgba(255,0,0,0), rgb(119, 20, 20));
	padding: 0.5em 1em;
}

.site-branding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.site-logo{
    width: 60vw;
}

@media screen and (min-width: 37.5em) {
    .site-logo{
        max-width: 300px;
    }
}