#page{
    .site-content{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
        flex-direction: column;
        padding: 0 1em;
        margin: 0 auto;
    }
    
    article.project{
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    article.project:nth-child(2n){
        background: #eee;
    }
    
    article.project:nth-child(2n+1){
        background: #333;
        
        .project-content{
            color: #fff;
        }
    }
    
    .featured-image-wrapper, .project-content{
        width: 100%;
        height: auto;
    }
    
    .featured-image-wrapper{
        font-size: 0;
    }
    
    .project-content{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        p{
            text-align: center;
        }
    }
    
    .technology-links{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        
        li{
            margin: 1em;
        }
        
        a{
            background: #fff;
            color: #000;
            display: inline-block;
            font-size: 16px;
            font-size: 1rem;
            line-height: 1;
            padding: .5em 1em;
            text-align: center;
            vertical-align: middle;
            border-bottom: 2px solid #771414;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 60em) {
    #page{
        .site-content{
            padding: 0 2em;
        }
        
        article.project{
            flex-direction: row;
        }
        
        .featured-image-wrapper, .project-content{
            width: 50%;
            height: auto;
        }
        
        article.project:nth-child(2n+1){

            .featured-image-wrapper{
                order: 2;
            }

            .project-content{
                order: 1;
            }
        }
    } 
}